{% extends "layout.html" %}
{% block body %}

<div class="container-fluid px-0 py-0">
  <img class="card-img-top" src="/static/bg_healthcheck.png" alt="">
</div>

<br>
<div class="container-fluid px-5 mb-3 pb-3">
  <div class="row">

    <div class="col-lg-3 col-md-4 col-sm-11">
      <div class="card">
<iframe src="https://embed.lottiefiles.com/animation/107997"></iframe>
        <div class="card-body">
          <h4 class="card-title">Crop</h4>
          <h6 class="card-text">Recommendation about the type of crops to be cultivated which is best suited
          for the respective conditions</h6>
        </div>
        <div class="card-footer">
          <a href="{{ url_for('crop_recommend') }}" class="btn btn-primary">Crop Prediction</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-11">
      <div class="card">
            <img src="/static/fertilizer.png" height="150px" width="200px"></img>
        <div class="card-body">
          <h4 class="card-title">Fertilizer</h4>
          <h6 class="card-text">Recommendation about the type of fertilizer best suited for the particular soil
          and the recommended crop</h6>
        </div>
        <div class="card-footer">
          <a href="{{ url_for('fertilizer_recommendation') }}" class="btn btn-primary">Fertilizer Prediction</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-11">
      <div class="card">
        <img src="/static/plant_disease.png" height="150px" width="200px"></img>
        <div class="card-body">
          <h4 class="card-title">Crop Disease</h4>
          <h6 class="card-text">Predicting the name and causes of crop disease and suggestions to cure it</h6>
        </div>
        <div class="card-footer">
          <a href="{{ url_for('disease_prediction') }}" class="btn btn-primary">Crop Disease Detection</a>
        </div>
      </div>
    </div>


 

  </div>
</div>
{% endblock %}